* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.flexColmn, nav .menu, nav .menu .mTop, nav .menu .mTop .textLogo, nav .menu .mMiddle, nav .menu .mBottom, nav .subMenu, main .container .mainWrapper, main .container .mainWrapper .projectSection .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allBtn, main .container .mainWrapper .headerSection .bar .main-btn button {
  outline: none;
  border: none;
}

.flexCenter, main .container .mainWrapper .projectSection .project .pIcon .iconContainerLeft, main .container .mainWrapper .projectSection .project .pIcon .iconContainerRight, main .container .mainWrapper .projectSection .addProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderBox, main .container .mainWrapper .taskSection table .row .dueDate .orangeOrder, main .container .mainWrapper .taskSection table .row .dueDate .greenOrder, main .container .mainWrapper .taskSection table .row .dueDate .redOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: 1.75em;
}

.titleBox, main .container .mainWrapper .taskSection table .row .taskTitle .pinkTaskType, main .container .mainWrapper .taskSection table .row .taskTitle .purpleTaskType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: 1.75em;
}

.imgOrder[title='r10'], .projectWorker-1[title='r10'], .projectWorker-2[title='r10'], .projectWorker-3[title='r10'], .projectWorker-4[title='r10'] {
  position: relative;
  right: 10px;
  z-index: 2;
}

.imgOrder[title='r20'], .projectWorker-1[title='r20'], .projectWorker-2[title='r20'], .projectWorker-3[title='r20'], .projectWorker-4[title='r20'] {
  position: relative;
  right: 20px;
  z-index: 3;
}

.user-pic {
  background-image: url("../img/user-1.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 1.6em;
}

.projectWorker-1 {
  background-image: url("../img/user-1.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-2 {
  background-image: url("../img/user-2.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-3 {
  background-image: url("../img/user-3.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-4 {
  background-image: url("../img/user-4.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: #f4f6fd;
  padding: 2.5em 1em;
  overflow: auto;
}

nav .menu {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

nav .menu .mTop .menu-icon {
  margin-bottom: 2em;
}

nav .menu .mTop .textLogo {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

nav .menu .mTop .textLogo::before {
  content: '';
  position: absolute;
  bottom: 2em;
  right: 3.5em;
  display: block;
  width: 0.2em;
  background: #ff48ee;
  height: 3.5rem;
}

nav .menu .mTop .textLogo .text {
  position: relative;
  letter-spacing: -0.051rem;
  right: 0.5rem;
  font-size: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #2c3550;
}

nav .menu .mTop .textLogo .dot {
  position: relative;
  right: 0.05rem;
  bottom: 1.25rem;
  color: #ff48ee;
  font-size: 2rem;
}

nav .menu .mMiddle {
  bottom: 4.5em;
}

nav .menu .mMiddle object {
  margin-bottom: 2em;
}

nav .block {
  margin-right: 1em;
  border: 1px solid #e6e9f4;
  width: 0;
  height: 100%;
}

nav .subMenu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 100%;
  font-size: 0.8rem;
}

nav .subMenu .sTop li {
  margin-bottom: 2em;
}

nav .subMenu .sTop .selected {
  color: #ff48ee;
}

nav .subMenu .sBottom li:first-child {
  font-size: 0.7rem;
  color: #8894b5;
  letter-spacing: 0.05em;
}

nav .subMenu .sBottom li {
  margin-top: 2em;
}

main {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3em 0 0 3em;
}

main::before {
  content: '';
  position: absolute;
  bottom: 0em;
  left: 0em;
  display: block;
  width: 2em;
  background: #f4f6fd;
  height: 100%;
  z-index: -1;
}

main .sectionArrow {
  position: absolute;
  left: -0.7em;
  top: 4.5em;
}

main .container {
  width: 100%;
  height: 100%;
  padding: 2.5em 2em;
  overflow: auto;
}

main .container .mobile {
  display: none;
}

main .container .mainWrapper {
  width: 100%;
  height: 100%;
}

main .container .mainWrapper .headerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

main .container .mainWrapper .headerSection .active-menu {
  margin-top: 1.5em;
}

main .container .mainWrapper .headerSection .active-menu span {
  color: #8894b5;
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}

main .container .mainWrapper .headerSection .active-menu h2 {
  color: #2c3550;
  font-size: 3.2rem;
  letter-spacing: -0.032em;
}

main .container .mainWrapper .headerSection .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .mainWrapper .headerSection .bar .main-btn {
  margin-left: 0.7em;
}

main .container .mainWrapper .headerSection .bar .main-btn button {
  height: 55px;
  width: 55px;
  border-radius: 1.2em;
  background-color: #f4f6fd;
}

main .container .mainWrapper .headerSection .bar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25em;
  margin-left: 1.5em;
  color: #8894b5;
  background-color: #f4f6fd;
  height: 55px;
  border-radius: 1.7em;
  background-color: #f4f6fd;
  width: 14em;
}

main .container .mainWrapper .headerSection .bar .search-bar span {
  font-size: 0.9rem;
}

main .container .mainWrapper .projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .container .mainWrapper .projectSection .project {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  position: relative;
  height: 10.5em;
  border: 3px solid #e6e9f4;
  border-radius: 3em;
  background-color: #f4f6fd;
}

main .container .mainWrapper .projectSection .project .pIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: relative;
  bottom: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5em;
}

main .container .mainWrapper .projectSection .project .pIcon .iconContainerLeft {
  height: 72px;
  width: 72px;
  border-radius: 2.7em;
  background-color: #ff48ee;
  -webkit-box-shadow: 0px 25px 32px 3px #ff48ee5e;
}

main .container .mainWrapper .projectSection .project .pIcon .iconContainerRight {
  height: 72px;
  width: 72px;
  border-radius: 2.7em;
  background-color: #6171ff;
  -webkit-box-shadow: 0px 25px 32px 3px #6171ff5e;
}

main .container .mainWrapper .projectSection .project .pContainer {
  width: 100%;
  position: relative;
  bottom: 2em;
  padding: 0 2em;
}

main .container .mainWrapper .projectSection .project .pContainer .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

main .container .mainWrapper .projectSection .project .pContainer .projectContainer .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .mainWrapper .projectSection .project .pContainer .projectContainer .more {
  position: relative;
  bottom: 0.5em;
}

main .container .mainWrapper .projectSection .project .pContainer .pName {
  font-size: 1.5em;
}

main .container .mainWrapper .projectSection .project .pContainer .pName h3 {
  width: 8em;
  color: #2c3550;
}

main .container .mainWrapper .projectSection .project .pContainer .pName span {
  font-size: 0.5em;
  color: #8894b5;
  letter-spacing: 0.1em;
}

main .container .mainWrapper .projectSection .addProject {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  height: 10.5em;
  min-width: 4.5em;
  border: 3px solid #e6e9f4;
  border-radius: 3em;
}

main .container .mainWrapper .sectionBlock {
  width: 100%;
  border-bottom: 2px solid #f1f4fb;
  margin: auto 0;
}

main .container .mainWrapper .taskSection {
  width: 100%;
  overflow-y: auto;
}

main .container .mainWrapper .taskSection table {
  width: 100%;
  min-width: 530px;
  border-collapse: collapse;
}

main .container .mainWrapper .taskSection table tr:nth-child(even) {
  background-color: #f4f6fd;
}

main .container .mainWrapper .taskSection table th {
  padding-bottom: 1em;
  text-align: left;
  padding-left: 0.2em;
}

main .container .mainWrapper .taskSection table th:first-child {
  padding-left: 1.25em;
}

main .container .mainWrapper .taskSection table th:first-child object {
  margin-right: 1.75em;
}

main .container .mainWrapper .taskSection table .tableHad {
  width: 100%;
  font-size: 0.8rem;
  color: #8894b5;
  letter-spacing: 0.08em;
}

main .container .mainWrapper .taskSection table .row {
  font-size: 0.8rem;
  height: 4em;
}

main .container .mainWrapper .taskSection table .row td:first-child {
  border-radius: 1.2em 0 0 1.2em;
  padding-left: 1em;
}

main .container .mainWrapper .taskSection table .row td:last-child {
  border-radius: 0 1.2em 1.2em 0;
}

main .container .mainWrapper .taskSection table .row .column1 {
  width: 22%;
  padding-right: 0.5em;
}

main .container .mainWrapper .taskSection table .row .column2 {
  width: 28%;
  padding-right: 0.5em;
}

main .container .mainWrapper .taskSection table .row .column3 {
  width: 18%;
  padding-right: 0.5em;
}

main .container .mainWrapper .taskSection table .row .column4 {
  padding-right: 0.5em;
  width: 24%;
}

main .container .mainWrapper .taskSection table .row .column5 {
  padding-right: 0.5em;
  width: 4%;
}

main .container .mainWrapper .taskSection table .row .dueDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
  letter-spacing: 0.06px;
}

main .container .mainWrapper .taskSection table .row .dueDate .orangeOrder {
  background-color: #f6e8d7;
}

main .container .mainWrapper .taskSection table .row .dueDate .greenOrder {
  background-color: #cfffde;
}

main .container .mainWrapper .taskSection table .row .dueDate .redOrder {
  background-color: #f6d1d7;
}

main .container .mainWrapper .taskSection table .row .taskTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
}

main .container .mainWrapper .taskSection table .row .taskTitle .pinkTaskType {
  background-color: #ff48ee;
}

main .container .mainWrapper .taskSection table .row .taskTitle .purpleTaskType {
  background-color: #9646ff;
}

main .container .mainWrapper .taskSection table .row .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2em;
  display: inherit;
  padding: 0.7em;
  font-size: 0.6rem;
}

main .container .mainWrapper .taskSection table .row .status[title='backlog'] {
  background-color: #d8ddef;
  color: #8894b5;
}

main .container .mainWrapper .taskSection table .row .status[title='inProgress'] {
  background-color: #d1e4ff;
  color: #6171ff;
}

main .container .mainWrapper .taskSection table .row .status[title='done'] {
  background-color: #cfffde;
  color: #0da03b;
}

main .container .mainWrapper .taskSection table .row .assignee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
}

main .container .mainWrapper .taskSection table .row .assignee span {
  margin-left: 1em;
}

main .container .mainWrapper .taskSection table .row .moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1280px) {
  .orderBox, main .container .mainWrapper .taskSection table .row .dueDate .orangeOrder, main .container .mainWrapper .taskSection table .row .dueDate .greenOrder, main .container .mainWrapper .taskSection table .row .dueDate .redOrder {
    margin-right: 0 !important;
  }
  .titleBox, main .container .mainWrapper .taskSection table .row .taskTitle .pinkTaskType, main .container .mainWrapper .taskSection table .row .taskTitle .purpleTaskType {
    margin-right: 0.7em !important;
  }
  nav {
    width: 25% !important;
  }
  nav .menu {
    margin-right: 1em;
  }
  nav .menu .mBottom .user-pic {
    width: 2em !important;
    height: 2em !important;
  }
  main {
    width: 75% !important;
  }
  main .mainWrapper .headerSection .active-menu {
    margin-top: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  main .mainWrapper .headerSection .active-menu span {
    position: relative;
    top: 0.3em;
    margin-right: 0.5em;
  }
  main .mainWrapper .headerSection .active-menu h2 {
    font-size: 2.5em !important;
  }
  main .mainWrapper .headerSection .bar {
    width: auto !important;
    min-width: 250px;
    font-size: 0.6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  main .mainWrapper .headerSection .bar .main-btn {
    display: none;
  }
  main .mainWrapper .headerSection .bar .search-bar {
    margin-left: 0 !important;
    width: auto !important;
    padding: 1.5em !important;
  }
  main .mainWrapper .headerSection .bar .search-bar span {
    display: none;
  }
  main .mainWrapper .projectSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  main .mainWrapper .projectSection .project {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 45% !important;
    min-width: 350px;
    height: 6em !important;
  }
  main .mainWrapper .projectSection .project:first-child {
    margin-bottom: 1.75em;
  }
  main .mainWrapper .projectSection .project .pIcon {
    display: initial !important;
    width: auto !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
    right: 1em;
  }
  main .mainWrapper .projectSection .project .pIcon .iconContainerLeft,
  main .mainWrapper .projectSection .project .pIcon .iconContainerRight {
    width: 3em !important;
    height: 3em !important;
  }
  main .mainWrapper .projectSection .project .pContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto !important;
    bottom: 0 !important;
    padding: 0 !important;
  }
  main .mainWrapper .projectSection .project .pContainer .projectContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0.7em;
  }
  main .mainWrapper .projectSection .project .pContainer .projectContainer .users {
    display: none !important;
  }
  main .mainWrapper .projectSection .project .pContainer .pName h3 {
    font-size: 1em;
  }
  main .mainWrapper .projectSection .addProject {
    display: none !important;
  }
  main .mainWrapper .taskSection th:first-child object {
    padding-left: 0.7em;
    margin-right: 0 !important;
  }
  main .mainWrapper .taskSection th:first-child span {
    display: none;
  }
  main .mainWrapper .taskSection .column1 {
    width: 13% !important;
    padding-right: 0.5em;
  }
  main .mainWrapper .taskSection .column1 .dueDate span {
    display: none;
  }
  main .mainWrapper .taskSection .column4 {
    width: 13% !important;
  }
  main .mainWrapper .taskSection .column4 .assignee {
    padding-left: 0.9em;
  }
  main .mainWrapper .taskSection .column4 .assignee span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav .menu,
  nav .block {
    display: none;
  }
  .container .headerSection .bar {
    display: none !important;
  }
}

@media screen and (max-width: 530px) {
  body {
    height: auto !important;
    overflow: auto !important;
  }
  nav {
    display: none;
  }
  main {
    border-radius: 0 !important;
    width: 100% !important;
  }
  main .container {
    padding: 1.5em 1em !important;
  }
  main .container .mainWrapper .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto !important;
    position: relative;
    margin-bottom: 1em;
  }
  main .container .mainWrapper .mobile object {
    width: 1em;
  }
  main .container .mainWrapper .mobile .user-pic {
    margin-bottom: 0 !important;
    background-repeat: none;
    width: 50px !important;
    height: 50px !important;
  }
  main .container .mainWrapper .headerSection {
    margin-bottom: 1em;
  }
  main .container .mainWrapper .headerSection .active-menu span {
    position: relative;
    top: 0.4em;
    font-size: 1em !important;
  }
  main .container .mainWrapper .headerSection .active-menu h2 {
    font-size: 2em !important;
  }
  main .container .mainWrapper .projectSection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .mainWrapper .projectSection .project {
    width: 100% !important;
    min-width: auto !important;
    padding: 0 2em;
    margin-bottom: 1em !important;
    overflow: hidden;
  }
  main .container .mainWrapper .projectSection .project .pIcon {
    right: 0 !important;
    margin-right: 1em;
    bottom: 0.1em !important;
  }
  main .container .mainWrapper .projectSection .project .pContainer .projectContainer .more {
    display: none;
  }
  main .container .mainWrapper .projectSection .project .pContainer .pName h3 {
    font-size: 0.7em;
  }
  main .container .mainWrapper .projectSection .addProject {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 3em !important;
    min-width: auto !important;
    height: 3em !important;
  }
  main .container .mainWrapper .sectionBlock {
    margin: 2em 0;
  }
}
/*# sourceMappingURL=main.css.map */