* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #e4e9f8;
}

.flexColmn, nav .menu, nav .menu .mTop, nav .menu .mTop .textLogo, nav .menu .mMiddle, nav .menu .mBottom, nav .subMenu, main .container, main .container .projectSection .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allBtn, main .container .headerSection .bar .main-btn button {
  outline: none;
  border: none;
}

.flexCenter, main .container .projectSection .project .pIcon .iconContainerLeft, main .container .projectSection .project .pIcon .iconContainerRight, main .container .projectSection .addProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderBox, main .container .taskSection .dueDate .orangeOrder, main .container .taskSection .dueDate .greenOrder, main .container .taskSection .dueDate .redOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: 1.75em;
}

.titleBox, main .container .taskSection .taskTitle .pinkTaskType, main .container .taskSection .taskTitle .purpleTaskType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: 1.75em;
}

.projectWorker-1 {
  background-image: url("../img/user-1.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-2 {
  background-image: url("../img/user-2.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-2[title='r10'] {
  position: relative;
  right: 10px;
  z-index: 2;
}

.projectWorker-3 {
  background-image: url("../img/user-3.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projectWorker-3[title='r20'] {
  position: relative;
  right: 20px;
  z-index: 3;
}

.projectWorker-4 {
  background-image: url("../img/user-4.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: #f4f6fd;
  padding: 50px 40px;
}

nav .menu {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 20%;
  height: 100%;
}

nav .menu .mTop .menu-icon {
  margin-bottom: 2em;
}

nav .menu .mTop .textLogo {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

nav .menu .mTop .textLogo::before {
  content: '';
  position: absolute;
  bottom: 2em;
  right: 4.5em;
  display: block;
  width: 0.2em;
  background: #ff48ee;
  height: 3.5rem;
}

nav .menu .mTop .textLogo .text {
  position: relative;
  letter-spacing: -0.051rem;
  right: 0.5rem;
  font-size: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #2c3550;
}

nav .menu .mTop .textLogo .dot {
  position: relative;
  right: 0.05rem;
  bottom: 1.25rem;
  color: #ff48ee;
  font-size: 2rem;
}

nav .menu .mMiddle {
  position: relative;
  bottom: 4.5em;
}

nav .menu .mMiddle object {
  margin-bottom: 2em;
}

nav .menu .mBottom .user-pic {
  background-image: url("../img/user-1.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 1.6em;
}

nav .block {
  margin-right: 1em;
  border: 1px solid #e6e9f4;
  width: 0;
  height: 100%;
}

nav .subMenu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 100%;
  font-size: 0.8rem;
}

nav .subMenu .sTop li {
  margin-bottom: 2em;
}

nav .subMenu .sTop .selected {
  color: #ff48ee;
}

nav .subMenu .sBottom li:first-child {
  font-size: 0.7rem;
  color: #8894b5;
  letter-spacing: 0.09em;
}

nav .subMenu .sBottom li {
  margin-top: 2em;
}

main {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3em 0 0 3em;
  padding: 50px 40px;
}

main::before {
  content: '';
  position: absolute;
  bottom: 0em;
  left: 0em;
  display: block;
  width: 2em;
  background: #f4f6fd;
  height: 100%;
  z-index: -1;
}

main .sectionArrow {
  position: absolute;
  left: -0.7em;
  top: 4.5em;
}

main .container {
  width: 100%;
  height: 100%;
}

main .container .headerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

main .container .headerSection .active-menu {
  margin-top: 1.5em;
}

main .container .headerSection .active-menu span {
  color: #8894b5;
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}

main .container .headerSection .active-menu h2 {
  color: #2c3550;
  font-size: 3.2rem;
  letter-spacing: -0.032em;
}

main .container .headerSection .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .headerSection .bar .main-btn {
  margin-left: 0.7em;
}

main .container .headerSection .bar .main-btn button {
  height: 55px;
  width: 55px;
  border-radius: 14px;
  background-color: #f4f6fd;
}

main .container .headerSection .bar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25em;
  margin-left: 1.5em;
  color: #8894b5;
  background-color: #f4f6fd;
  height: 55px;
  border-radius: 1.7em;
  background-color: #f4f6fd;
  width: 14em;
}

main .container .headerSection .bar .search-bar span {
  font-size: 0.9rem;
}

main .container .projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 2em;
  border-bottom: 2px solid #f1f4fb;
}

main .container .projectSection .project {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  position: relative;
  margin-right: 3em;
  height: 10.5em;
  border: 3px solid #e6e9f4;
  border-radius: 3em;
  background-color: #f4f6fd;
}

main .container .projectSection .project .pIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: relative;
  bottom: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .container .projectSection .project .pIcon .iconContainerLeft {
  height: 72px;
  width: 72px;
  border-radius: 27px;
  background-color: #ff48ee;
  -webkit-box-shadow: 0px 25px 32px 3px #ff48ee5e;
}

main .container .projectSection .project .pIcon .iconContainerRight {
  height: 72px;
  width: 72px;
  border-radius: 27px;
  background-color: #6171ff;
  -webkit-box-shadow: 0px 25px 32px 3px #6171ff5e;
}

main .container .projectSection .project .projectContainer {
  position: relative;
  width: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 1.75em;
}

main .container .projectSection .project .projectContainer .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .container .projectSection .project .projectContainer .more {
  position: relative;
  bottom: 0.5em;
}

main .container .projectSection .project .pName {
  width: 100%;
  padding: 0 50px;
}

main .container .projectSection .project .pName h3 {
  font-size: 1.5rem;
  color: #2c3550;
}

main .container .projectSection .project .pName span {
  font-size: 0.7rem;
  color: #8894b5;
  letter-spacing: 1.4px;
}

main .container .projectSection .addProject {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 230px;
  width: 90px;
  border: 3px solid #e6e9f4;
  border-radius: 3em;
}

main .container .taskSection {
  width: 100%;
  padding-top: 3em;
}

main .container .taskSection table {
  width: 100%;
  border-collapse: collapse;
}

main .container .taskSection table th {
  padding-bottom: 20px;
}

main .container .taskSection table td {
  height: 65px;
}

main .container .taskSection table th {
  text-align: left;
  padding-left: 5px;
}

main .container .taskSection table th:first-child {
  padding-left: 25px;
}

main .container .taskSection table th:first-child object {
  margin-right: 35px;
}

main .container .taskSection table .row {
  font-size: 0.8rem;
}

main .container .taskSection table .row td:first-child {
  border-radius: 1.2em 0 0 1.2em;
  padding-left: 1em;
}

main .container .taskSection table .row td:last-child {
  border-radius: 0 1.2em 1.2em 0;
}

main .container .taskSection table .row .column1,
main .container .taskSection table .row .column4 {
  width: 350px;
}

main .container .taskSection table .row .column2 {
  width: 400px;
}

main .container .taskSection table .row .column3 {
  width: 250px;
  text-align: left;
}

main .container .taskSection table tr:nth-child(even) {
  background-color: #f4f6fd;
  padding: 1em;
}

main .container .taskSection .tableHad {
  width: 100%;
  font-size: 0.7rem;
  color: #8894b5;
  letter-spacing: 1.4px;
}

main .container .taskSection .dueDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
  letter-spacing: 1.2px;
}

main .container .taskSection .dueDate .orangeOrder {
  background-color: #f6e8d7;
}

main .container .taskSection .dueDate .greenOrder {
  background-color: #cfffde;
}

main .container .taskSection .dueDate .redOrder {
  background-color: #f6d1d7;
}

main .container .taskSection .taskTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
}

main .container .taskSection .taskTitle .pinkTaskType {
  background-color: #ff48ee;
}

main .container .taskSection .taskTitle .purpleTaskType {
  background-color: #9646ff;
}

main .container .taskSection .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  display: inherit;
  padding: 0.7em;
  font-size: 0.65rem;
}

main .container .taskSection .status[title='backlog'] {
  background-color: #d8ddef;
  color: #8894b5;
}

main .container .taskSection .status[title='inProgress'] {
  background-color: #d1e4ff;
  color: #207cff;
}

main .container .taskSection .status[title='done'] {
  background-color: #cfffde;
  color: #0da03b;
}

main .container .taskSection .assignee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3550;
}

main .container .taskSection .assignee span {
  margin-left: 1em;
}

main .container .taskSection .moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */