// Color
$primary: #ffffff;
$secondary: #f4f6fd;
$border: #e6e9f4;
$pink: #ff48ee;
$black: #2c3550;
$gray: #8894b5;
$blue: #6171ff;
$green: #0da03b;
$red: #ff1c1c;
$transparent-pink: #ff48ee5e;
$transparent-blue: #6171ff5e;
$main-border-color: #f1f4fb;
$table-bg-color-1: #f6e8d7;
$table-bg-color-2: #cfffde;
$table-bg-color-3: #f6d1d7;
$table-bg-color-5: #9646ff;
$table-bg-color-6: #d1e4ff;
$table-bg-color-7: #d8ddef;

// Sizes
$main-btn-size: 55px;
$icon-container-size: 72px;

// Fonts
$font-family-logo: 'Libre Baskerville', serif;
$font-family-body: 'Roboto', sans-serif;
$font-size: 1.25rem;
$font-size-l: 2rem;
$font-size-m: 0.8rem;
$font-size-s: 0.7rem;
$font-size-xs: 0.6rem;

// Other spacing
$main-border: 1px solid $border;
$project-box-border: 3px solid $border;

//radius
$radius-l: 3em;
$radius-ls: 2.7em;
$radius-m: 1.7em;
$radius-ms: 1.2em;
$raidus-s: 0.6em;
$radius-left-side: $radius-ms 0 0 $radius-ms;
$radius-left-side-xl: $radius-l 0 0 $radius-l;
$radius-right-side: 0 $radius-ms $radius-ms 0;

//Spacing
$spacing-xxxl: 4.5em;
$spacing-xxl: 3em;
$spacing-xl: 2.5em;
$spacing-l: 2em;
$spacing-m: 1.75em;
$spacing-ms: 1.6em;
$spacing-mxs: 1.5em;
$spacing-mxxs: 1.25em;
$spacing-s: 1em;
$spacing-xs: 0.7em;
$spacing-xss: 0.5em;
$spacing-xxxs: 0.2em;
$project-padding: 0 $spacing-xl;
$padding: $spacing-xl $spacing-l;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: $font-size;
  font-family: $font-family-body;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
//extend
.flexColmn {
  display: flex;
  flex-direction: column;
}
.allBtn {
  outline: none;
  border: none;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: $spacing-m;
}
.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  margin-right: $spacing-m;
}
.imgOrder {
  &[title='r10'] {
    position: relative;
    right: 10px;
    z-index: 2;
  }
  &[title='r20'] {
    position: relative;
    right: 20px;
    z-index: 3;
  }
}

//mixins
@mixin profilPhoto($img) {
  background-image: url($img);
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@mixin iconBox($backgorundColor, $shadowColor) {
  height: $icon-container-size;
  width: $icon-container-size;
  border-radius: $radius-ls;
  background-color: $backgorundColor;
  @extend .flexCenter;
  -webkit-box-shadow: 0px 25px 32px 3px $shadowColor;
}

//img
.projectWorker-1 {
  @include profilPhoto('../img/user-1.jpg');
  @extend .imgOrder;
}
.projectWorker-2 {
  @include profilPhoto('../img/user-2.jpg');
  @extend .imgOrder;
}
.projectWorker-3 {
  @include profilPhoto('../img/user-3.jpg');
  @extend .imgOrder;
}
.projectWorker-4 {
  @include profilPhoto('../img/user-4.jpg');
  @extend .imgOrder;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 20%;
  min-width: 14em;
  height: 100%;
  background-color: $secondary;
  padding: $spacing-xl $spacing-s;
  overflow: auto;

  .menu {
    @extend .flexColmn;
    position: relative;
    justify-content: space-between;
    flex: 0 0 20%;
    align-items: flex-start;
    height: 100%;

    .mTop {
      @extend .flexColmn;
      .menu-icon {
        margin-bottom: $spacing-l;
      }
      .textLogo {
        @extend .flexColmn;
        position: relative;
        font-family: $font-family-logo;
        font-weight: 700;
        &::before {
          content: '';
          position: absolute;
          bottom: $spacing-l;
          right: 3.5em;
          display: block;
          width: $spacing-xxxs;
          background: $pink;
          height: 3.5rem;
        }
        .text {
          position: relative;
          letter-spacing: -0.051rem;
          right: 0.5rem;
          font-size: $font-size-l;
          align-self: flex-start;
          transform: rotate(90deg);
          color: $black;
        }
        .dot {
          position: relative;
          right: 0.05rem;
          bottom: 1.25rem;
          color: $pink;
          font-size: $font-size-l;
        }
      }
    }
    .mMiddle {
      @extend .flexColmn;
      bottom: $spacing-xxxl;
      object {
        margin-bottom: $spacing-l;
      }
    }
    .mBottom {
      @extend .flexColmn;
      .user-pic {
        @include profilPhoto('../img/user-1.jpg');
        margin-bottom: 1.6em;
      }
    }
  }
  .block {
    margin-right: 1em;
    border: $main-border;
    width: 0;
    height: 100%;
  }
  .subMenu {
    @extend .flexColmn;
    justify-content: space-between;
    flex: 0 0 60%;
    height: 100%;
    font-size: $font-size-m;

    .sTop {
      li {
        margin-bottom: $spacing-l;
      }
      .selected {
        color: $pink;
      }
    }
    .sBottom {
      li:first-child {
        font-size: $font-size-s;
        color: $gray;
        letter-spacing: 0.05em;
      }
      li {
        margin-top: $spacing-l;
      }
    }
  }
}

main {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: $primary;
  border-radius: $radius-left-side-xl;

  &::before {
    content: '';
    position: absolute;
    bottom: 0em;
    left: 0em;
    display: block;
    width: 2em;
    background: $secondary;
    height: 100%;
    z-index: -1;
  }
  .sectionArrow {
    position: absolute;
    left: -$spacing-xs;
    top: $spacing-xxxl;
  }
  .container {
    width: 100%;
    height: 100%;
    padding: $padding;
    overflow: auto;
    .mainWrapper {
      @extend .flexColmn;
      width: 100%;
      height: 100%;
      .headerSection {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-l;
        .active-menu {
          margin-top: $spacing-mxs;
          span {
            color: $gray;
            font-size: 1.5rem;
            font-family: $font-family-logo;
          }
          h2 {
            color: $black;
            font-size: 3.2rem;
            letter-spacing: -0.032em;
          }
        }
        .bar {
          display: flex;

          .main-btn {
            margin-left: $spacing-xs;
            button {
              @extend .allBtn;
              height: $main-btn-size;
              width: $main-btn-size;
              border-radius: $radius-ms;
              background-color: $secondary;
            }
          }
          .search-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $spacing-mxxs;
            margin-left: $spacing-mxs;
            color: $gray;
            background-color: $secondary;
            height: $main-btn-size;
            border-radius: $radius-m;
            background-color: $secondary;
            width: 14em;
            span {
              font-size: 0.9rem;
            }
          }
        }
      }
      .projectSection {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: $spacing-xxl;
        border-bottom: 2px solid $main-border-color;

        .project {
          @extend .flexColmn;
          justify-content: space-evenly;
          align-items: center;
          flex-basis: 40%;
          position: relative;
          height: 10.5em;
          border: $project-box-border;
          border-radius: $radius-l;
          background-color: $secondary;
          .pIcon {
            display: flex;
            width: 70%;
            position: relative;
            bottom: $spacing-l;
            justify-content: flex-end;
            margin-bottom: $spacing-xss;

            .iconContainerLeft {
              @include iconBox($pink, $transparent-pink);
            }
            .iconContainerRight {
              @include iconBox($blue, $transparent-blue);
            }
          }
          .pContainer {
            width: 100%;
            position: relative;
            bottom: $spacing-l;
            padding: 0 $spacing-l;
            .projectContainer {
              display: flex;
              justify-content: space-between;
              margin-bottom: $spacing-s;
              .users {
                display: flex;
              }
              .more {
                position: relative;
                bottom: $spacing-xss;
              }
            }
            .pName {
              font-size: 1.5rem;
              h3 {
                width: 8em;
                color: $black;
              }
              span {
                font-size: 0.5em;
                color: $gray;
                letter-spacing: 0.1em;
              }
            }
          }
        }
        .addProject {
          flex: 0 1 10%;
          height: 10.5em;
          min-width: 4.5em;
          border: $project-box-border;
          border-radius: $radius-l;
          @extend .flexCenter;
        }
      }
      .taskSection {
        width: 100%;
        overflow-y: auto;
        padding-top: $spacing-xxl;
        // -ms-overflow-style: none; /* IE and Edge */
        // scrollbar-width: none; /* Firefox */
        // &::-webkit-scrollbar {
        //   display: none;
        // }

        table {
          width: 100%;
          min-width: 800px;
          border-collapse: collapse;
          tr {
            &:nth-child(even) {
              background-color: $secondary;
            }
          }
          th {
            padding-bottom: $spacing-s;
            text-align: left;
            padding-left: $spacing-xxxs;
            &:first-child {
              padding-left: $spacing-mxxs;
              object {
                margin-right: $spacing-m;
              }
            }
          }

          .tableHad {
            width: 100%;
            font-size: $font-size-m;
            color: $gray;
            letter-spacing: 0.08em;
          }
          .row {
            font-size: $font-size-m;
            height: 4em;

            td:first-child {
              border-radius: $radius-left-side;
              padding-left: $spacing-s;
            }
            td:last-child {
              border-radius: $radius-right-side;
            }
            .column1 {
              width: 25%;
              padding-right: $spacing-xss;
            }

            .column2 {
              width: 30%;
              padding-right: $spacing-xss;
            }
            .column3 {
              width: 18%;
              padding-right: $spacing-xss;
            }
            .column4 {
              padding-right: $spacing-xss;
              width: 28%;
            }
            .column5 {
              padding-right: $spacing-xss;
              width: 22%;
            }
            .dueDate {
              display: flex;
              align-items: center;
              color: $black;
              letter-spacing: 0.06px;
              .orangeOrder {
                @extend .orderBox;
                background-color: $table-bg-color-1;
              }
              .greenOrder {
                @extend .orderBox;
                background-color: $table-bg-color-2;
              }
              .redOrder {
                @extend .orderBox;
                background-color: $table-bg-color-3;
              }
            }
            .taskTitle {
              display: flex;
              align-items: center;
              color: $black;

              .pinkTaskType {
                @extend .titleBox;
                background-color: $pink;
              }
              .purpleTaskType {
                @extend .titleBox;
                background-color: $table-bg-color-5;
              }
            }
            .status {
              display: flex;
              align-items: center;
              border-radius: $radius-ms;
              display: inherit;
              padding: $spacing-xs;
              font-size: $font-size-xs;

              &[title='backlog'] {
                background-color: $table-bg-color-7;
                color: $gray;
              }
              &[title='inProgress'] {
                background-color: $table-bg-color-6;
                color: $blue;
              }
              &[title='done'] {
                background-color: $table-bg-color-2;
                color: $green;
              }
            }
            .assignee {
              display: flex;
              align-items: center;
              color: $black;

              span {
                margin-left: $spacing-s;
              }
            }
            .moreInfo {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1210px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 530px) {
}
